### 读取数据

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./data/iris.csv")

In [3]:
data.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [4]:
del data["Unnamed: 0"]
data.shape

(150, 5)

In [5]:
data.Species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

### 标签数值化

In [6]:
species = {
    "setosa": 1,
    "versicolor": 2,
    "virginica": 3
    
}
data["category"] = data.Species.map(species)

In [7]:
data.category.value_counts()

1    50
2    50
3    50
Name: category, dtype: int64

In [8]:
del data["Species"]
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  category
0           5.1          3.5           1.4          0.2         1
1           4.9          3.0           1.4          0.2         1
2           4.7          3.2           1.3          0.2         1
3           4.6          3.1           1.5          0.2         1
4           5.0          3.6           1.4          0.2         1

### 对数据进行随机排序

In [9]:
data = data.sample(frac=1).reset_index(drop=True)

In [10]:
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  category
0           7.2          3.6           6.1          2.5         3
1           5.0          3.0           1.6          0.2         1
2           7.7          3.8           6.7          2.2         3
3           4.8          3.0           1.4          0.3         1
4           6.7          3.0           5.0          1.7         2

### 构建数据集和测试集合

In [11]:
import numpy as np
all_data = np.array(data[["Sepal.Length", "Sepal.Width", "Petal.Length", "Petal.Width"]])
all_cate = np.array(data[["category"]], dtype=int)

In [12]:
all_data.shape

(150, 4)

In [13]:
all_cate.shape

(150, 1)

### 运行kNN

In [14]:
import kNN_algorithm

In [15]:
cate = kNN_algorithm.kNN(all_data[:130], all_cate[:130], all_data[130:], 4)

In [16]:
print(cate)

[3 1 3 2 3 1 3 2 1 3 2 3 1 1 3 2 3 1 1 2]

与实际分类进行对比

In [17]:
print(all_cate[130:].squeeze(1))

[3 1 3 2 3 1 3 2 1 3 2 3 1 1 3 2 3 1 1 2]